.sidenav {
  background-color: rgb(51, 49, 49);
  width: 250px;
}
.sidenav a {
  color: aqua;
}

.sidenav i {
  padding-right: 10px;
}

.content {
  padding: 16px;
  background-color: white;
}

@media (max-width: 599px) {
  .sidenav {
    width: 0;
  }
}

@keyframes move {
  0% {
    width: 0;
  }
  50% {
    width: 125px;
  }
  100% {
    width: 250px;
  }
}
