
<mat-card class="card">
    <mat-card-header class="header">
        <mat-card-title>Smart Watch Black</mat-card-title>
        <mat-card-subtitle>exclusive monitor cardiac</mat-card-subtitle>
    </mat-card-header>
    <img class="card-img" matCardImage src="../../../assets/smart-watch-black.PNG" alt="">

    <mat-card-content>
      de <span class="old-price">R$400,00</span> <span> por R$300,00</span>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button (click)="onAction1()">Buy now</button>

    </mat-card-actions>
    <mat-card-footer>
       promoção exclusiva no nosso site
    </mat-card-footer>
</mat-card>

